<launch>
  <arg name="model" default="$(find arm_sim)/urdf/arm_model.xacro"/>
  <arg name="rvizconfig" default="$(find arm_sim)/rviz/urdf.rviz" />

  <include file="$(find arm_sim)/launch/gazebo_sim.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find arm_sim)/config/joints.yaml"
            ns="arm_joint_state_controller" />
  <rosparam command="load"
            file="$(find arm_sim)/config/gazebo_ros_control_params.yaml"
            ns="gazebo_ros_control_params" />

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner"
    args="arm_joint_state_controller
          arm_controller
          gazebo_ros_control_params
          --timeout 50"/>
</launch>
